
@model IEnumerable<proLibManageSys.Models.IssuedBooks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.books.bookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.books.authorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.books.branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.books.publications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.students.studentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.students.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.books.bookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.books.authorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.books.branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.books.publications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.students.studentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.students.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.issuedId }) |
            @Html.ActionLink("Details", "Details", new { id=item.issuedId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.issuedId })
        </td>
    </tr>
}

</table>
