@model IEnumerable<proLibManageSys.Models.Books>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="modal fade" id="deleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Confirm</h2>
			</div>
			<div class="modal-body">
				<h3>Confirming Deletion?</h3>
			</div>
			<div class="modal-footer">
				<div class="btn-group">
					<a href="#" id="btnDelete" class="btn btn-primary "> Delete </a>
                     
					<a href="#" id="btnCancel" class="btn btn-primary "> Cancel </a>
				</div>
			</div>
		</div>
	</div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAvailable)
        </td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.bookId }) |
			@Html.ActionLink("Details", "Details", new { id = item.bookId }) |

        </td>
        <td>
            <a href="#" id="showModal" class="btn btn-danger" onclick="Confirm(@item.bookId)">Delete</a>
        </td>
       
    </tr>
}

</table>

<input type="hidden" id="deleteBookId"/>
<script>
    
    

    $("#btnDelete").click(function () {
        var deleteBookIdValue = $("#deleteBookId").val();

        $.ajax({
            type: "POST",
            url: "Delete",
			data: { id: deleteBookIdValue },
            success: function (result) {
                if (result) {
                    $("#deleteModal").modal("hide");
                    $("#deletebookId").val(null);
                } else {
                    alert("something went wrong");
                }
            }
        })
	})

    $("#btnCancel").click(function () {
        window.location.href = "Index";
    })
	function Confirm(id) {
		$("#deleteBookId").val(id);
		$("#deleteModal").modal('show');
	}
</script>

